//
// Submission page
//

$btn-size: 34px;
$asset-size: 20px;

.submission-nav-holder {
  position: absolute;
  top: 22px;
  width: 100%;
  height: $btn-size;
  z-index: 1000;
  margin: 0;
  pointer-events: none;
}

.submission-nav {
  @extend %clearfix;
  width: ($btn-size * 5);
  margin: 0 auto;
  padding: 0;
  transition: background-color 0.3s ease-in-out;
  background-color: rgba(0,0,0,0.1);

  li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
  }

  a:link,
  a:visited,
  a:hover {
    display: block;
    text-decoration: none;
    width: $btn-size;
    height: $btn-size;
    background-color: transparent;
    transition: background-color 0.2s linear;
    pointer-events: auto; // Overwrite .submission-nav pointer events to actually work here
  }

  svg {
    position: relative;
    width: $asset-size;
    height: $asset-size;
    top: ($btn-size - $asset-size) / 2;
    left: ($btn-size - $asset-size) / 2;
  }
}

.submission-nav:hover {
  background-color: rgba(0,0,0,0.5);

  a:hover {
    background-color: rgba(0,0,0,0.7);
  }
}

.info-panel {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  color: white;
  z-index: 9500;
  position: absolute;
  top: 0;
  left: 0;

  a:link,
  a:visited {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;

    @include transition(all 0.2s linear);
  }

  a:hover {
    border-color: white;
  }

  .info-header {
    @extend %clearfix;

    padding-top: 100px;
    height: 30vh;
  }

  .col-group {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    min-width: 0;
    
    .title {
      font-size: 32px;
      color: #FFF3E7;
      line-height: 48px;
      margin-top: 0;
    }

    .description {
      font-family: $sans;
      font-size: 20px;
      color: $cream;
      line-height: 32px;
      height: 60vh;
      overflow-y: auto;
      
      p {
        margin-bottom: 12px;
      }
      a {
        border-color: white;
      }

      li {
        font-family: $serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.4;
      }
    }
  }

  .info-meta p {
    font-family: $sans;
    font-size: 20px;
    line-height: 32px;
  }

  a.info-close:link,
  a.info-close:visited {
    display: block;
    position: relative;
    top: 12px;
    width: 22px;
    height: 22px;
    background: transparent url('/img/icons/icon-close.svg') no-repeat center center;
    opacity: 0.5;
    transition: opacity 0.3s linear;
    border: none;
  }

  a.info-close:hover {
    border: none;
    opacity: 1;
  }

  @media (max-width: 640px) {
    .inner,
    .outer {
      min-width: 100%;
      max-width: 100%;
    }

    .inner {
      margin-top: 52px;
      margin-bottom: -52px;
      padding-bottom: 52px;
    }
    
    .col {
      margin-left: 32px;
      margin-right: 32px;
      display: block;
      float: none;
      width: 100%;
    }

    .info-close {
      float:none;
      margin-top: 64px;
    }
  }
}