//
// Submission page
//

$btn-size: 34px;
$asset-size: 20px;

.submission-nav-holder {
  position: absolute;
  top: 22px;
  width: 100%;
  height: $btn-size;
  z-index: 1000;
  margin: 0;
  pointer-events: none;
}

.submission-nav {
  @extend %clearfix;
  width: ($btn-size * 5);
  margin: 0 auto;
  padding: 0;
  transition: background-color 0.3s ease-in-out;
  background-color: rgba(0,0,0,0.1);

  li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
  }

  a:link,
  a:visited,
  a:hover {
    display: block;
    text-decoration: none;
    width: $btn-size;
    height: $btn-size;
    background-color: transparent;
    transition: background-color 0.2s linear;
    pointer-events: auto; // Overwrite .submission-nav pointer events to actually work here
  }

  svg {
    position: relative;
    width: $asset-size;
    height: $asset-size;
    top: ($btn-size - $asset-size) / 2;
    left: ($btn-size - $asset-size) / 2;
  }
}

.submission-nav:hover {
  background-color: rgba(0,0,0,0.5);

  a:hover {
    background-color: rgba(0,0,0,0.7);
  }
}

.info-panel {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  color: white;
  z-index: 9500;
  position: absolute;
  top: 0;
  left: 0;

  a:link,
  a:visited {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid transparent;

    @include transition(all 0.2s linear);
  }

  a:hover {
    border-color: white;
  }

  .col-group {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    min-width: 0;
    max-height: 90%;
    overflow: scroll;
    
    .title {
      font-size: 32px;
      color: #FFF3E7;
      line-height: 48px;
      margin-top: 0;
    }

    p.description {
      // font-family: .LucidaGrandeUI;
      font-size: 16px;
      color: $cream;
      line-height: 23px;
    }
  }

  .info-close {
    font-size: 32px;
    line-height: 48px;
  }

  @media (max-width: 640px) {
    .inner,
    .outer {
      min-width: 100%;
      max-width: 100%;
    }

    .inner {
      margin-top: 52px;
      margin-bottom: -52px;
      padding-bottom: 52px;
    }
    
    .col {
      margin-left: 32px;
      margin-right: 32px;
      display: block;
      float: none;
      width: 100%;
    }

    .info-close {
      float:none;
      margin-top: 64px;
    }
  }
}