@import url("http://cloud.typography.com/7675692/750644/css/fonts.css");
@import "toast";
@import "normalize";
@import "mixins";
@import "base";

#wrap {
  min-width: $min_width;
  margin: 0 auto;
}

.grid {
  min-width: 900px;
}

#hero,
#submissions-hero,
#submit {
  header {
    margin: $baseline*8 auto;
  }

  h1 {
    margin-bottom: $baseline*2;
  }

  #session {
    text-transform: uppercase;
    font-weight: 200;
    margin-bottom: -$baseline;
  }
}

#hero-canvas {
  position: absolute;
}

#submissions-hero header {
  margin-bottom: 0;
}

#demo-table {
  margin-top: $baseline*4;
  margin-bottom: $baseline*2;

  td {
    height: $baseline*4;
    font-size: 16px;
    line-height: $baseline*4;
    border-bottom: 1px solid rgba($black, 0.05);
  }

  thead td {
    font-family: $serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
  }

  td span {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 40px;
  }

  td .demo-viz-cell {
    width: 100%;
    height: 48px;
    margin: 10px 0;
  }
}

// Evenly distribute opacity from 0 to 1 over the course of num datas
$num-datas: 5;
@for $i from 1 through $num-datas {
  $opacity: (1/$num-datas) * $i;
  #demo-table td span:nth-last-child(#{$i}) {
    opacity: $opacity;
  }
}

#code-sample {
  margin-top: $baseline*4;
  background-color: rgba($black, 0.9);
  color: $cream;
  padding: $baseline*2;
  font-famiy: $code;
  font-size: 14px;
  line-height: $baseline*1.5;
}

#submit header {
  margin: $baseline*8 auto;
}

#gallery-cta {
  position: relative;
  text-align: center;
  height: $baseline*20;
  overflow: hidden;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-filter: #{"grayscale(1)"} #{"brightness(0.4)"};
    filter: #{"grayscale(1)"} #{"brightness(0.4)"};
  }

  .button-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .button {
    margin: $baseline*8 auto;
  }
}

#github-cta {
  background-color: $purple;
  color: $cream;
  text-align: center;
  padding: $baseline*4 0;

  svg {
    zoom: 1.6;
  }

  p {
    margin: $baseline*2 auto;
  }
}

#submission-form {
  margin-top: $baseline*8;

  .col.left {
    padding-right: 10px;
  }
  .col.right {
    padding-left: 10px;
  }

  input[type=text] {
    display: block;
    width: 100%;
    border: 2px solid $black;
    outline: none;
    font-family: $serif;
    font-size: 16px;
    color: $black;
    height: $baseline*3;
    background: transparent;
    margin: 0 0 $baseline 0;
    padding: 0 $baseline;
  }

  textarea {
    border: 2px solid $black;
    outline: 0;
    padding: $baseline/2 $baseline;
    font-family: $serif;
    color: $black;
    background: transparent;
    width: 100%;
    height: 276px;
  }

  #submit-button {
    margin-top: $baseline*2;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 25%;

    @include transition(all 0.1s linear);

    &:hover {
      background-color: $purple;
      color: $cream;
    }
  }
}

#submission-list {

  & > ul {
    padding: 0;

    .submission-container {
      margin-bottom: $baseline*2;
      position: relative;
      width: 25%;
      padding: 0 $baseline;

      img {
        max-width: 100%;
        width: 100%;
        -webkit-filter: #{"grayscale(1)"} #{"brightness(0.5)"}; // Hacky shit because of Sass filter conflict
      }

      video {
        width:100%;
        -webkit-filter: #{"grayscale(1)"} #{"brightness(0.5)"}; // Hacky shit because of Sass filter conflict
      }

      .submission-info {
        position: absolute;
        top: $baseline;
        padding: $baseline*2;
        left: 0;
        width: 100%;
        height: 100%;
        color: $cream;
        text-align: center;

        .title {
          font-family: $sans;
          font-size: 16px;
        }

        .author {
          margin-top: 0.5em;
          font-family: $sans;
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 700;
          
          a:link,
          a:visited {
            color: $cream;
            text-decoration: none;
            border-bottom: 2px solid transparent;

            transition: border-color 0.2s linear;
          }

          a:hover {
            border-color: $cream;
          }
        }

        .info-block {
          height: 60%;
        }

        .button {
          opacity: 0;

          .-mobile & {
            opacity: 1;
          }
        }
      }

      &:hover {
        .button {
          opacity: 1;
        }
    }
    
    }
  }
}

#hero p,
#demo p,
#code p,
#submit p,
#submissions-hero p {
  text-align: center;
}

//
// Footer
//
footer {
  margin-top: $baseline*8;
  background-color: $black;
  padding: $baseline*2 0;

  &.home {
    margin-top: 0;
  }

  .roll-the-credits {
    color: $cream;
    font-family: $sans;
    font-size: 16px;

    a:link,
    a:visited {
      color: $cream;
      text-decoration: none;
      border-bottom: 2px solid transparent;

      transition: border-color 0.2s linear;
    }

    a:hover {
      border-color: $cream;
    }
  }

  .dingus-town {
    text-align: right;
  }

  .dingus {
    display: inline-block;
    margin: 0 0 0 $baseline;

    &.dingus-github {
      margin-right: -12px;
    }
  }
}

.submission-nav {
  color: red;
  
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10000;

  .submission-nav-holder {
    background-color: rgba(0, 0, 0, .5);
    margin: 16px auto;
    width: 200px;
    padding: 6px;

    a {
      text-decoration: none;
    }
    .icon {
      // float:left;
      margin-left:12px;
      
      &.u {
        width: 19px;
        height: 17px;
        margin-right: 12px;
      }
      &.menu {
        width: 16px;
        height: 17px;
      }
      &.next {
        background-image: url('/img/icons/next.svg');
        width: 14px;
        height: 17px;
      }
      &.prev {
        width: 14px;
        height: 17px;

        .change-color {
          fill: #ff0000;
        }
        &:hover {
          // width: 40px;
          .change-color {
            // stroke-width:10;
          }
        }
      }
      &.info {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.info-panel {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  color: white;
  z-index: 9500;
  position: absolute;
  top: 0;
  left: 0;

  .col-group {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    min-width: 0;
    max-height: 90%;
    overflow: scroll;
    
    .title {
      font-size: 32px;
      color: #FFF3E7;
      line-height: 48px;
    }

    p.description {
      // font-family: .LucidaGrandeUI;
      font-size: 16px;
      color: $cream;
      line-height: 23px;
    }
  }

  .info-close {
    // float: right;
  }
}