
{{> header}}
<div class="info-panel -hide">
  <div class="col-group inner">
    <div class="col col1of8">
      <a class="info-close" href="#">X</a>
    </div>
    <div class="col col7of8">
      <h1 class="title">{{name}}</h1>
    </div>
    <div class="col col1of8">&nbsp;</div>
    <div class="col col4of8">
      <p class="description">{{{description}}}</p>
    </div>
    <div class="col col1of8">&nbsp;</div>
    <div class="col col2of8">
      <p>{{creator}}</p>
      {{#sourceCode}}
      <p><a href="http://twitter.com/{{sourceCode}}" target="_blank">Source code</a></p>
      {{/sourceCode}}
      {{#twitter}}
      <p><a href="http://twitter.com/{{twitter}}" target="_blank">@{{twitter}}</a></p>
      {{/twitter}}
      {{#url}}
      <p><a href="{{url}}" target="_blank">{{url}}</a></p>
      {{/url}}
    </div>
  </div>
</div>
<div class="submission-nav-holder">
  <ul class="submission-nav">
    <li>
      <a href="/{{dataset}}/" class="macro">
        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="icon-nav-menu" fill="#FFF3E7">
            <path d="M2,3 L2,5 L18,5 L18,3 L2,3 Z M2,15 L2,17 L18,17 L18,15 L2,15 Z M2,9 L2,11 L18,11 L18,9 L2,9 Z"></path>
          </g>
        </svg>
      </a>
    </li>
    <li>
      <a href="/" class="macro">
        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="icon-nav-logo" font-weight="bold" font-family="Helvetica" letter-spacing="-0.4" fill="#FFF3E7" font-size="12">
            <text>
              <tspan x="1" y="14">U</tspan>
              <tspan x="9.26601562" y="14" font-weight="normal">/</tspan>
              <tspan x="12.2" y="14">c</tspan>
            </text>
          </g>
        </svg>
      </a>
    </li>
    <li>
      <a href="/{{dataset}}/{{prevScene.slug}}" class="micro">
        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="icon-nav-left" fill="none" stroke="#FFF3E7" stroke-width="2">
            <path d="M16.5,1.5 L16.5,19 L2.5,10.25 L16.5,1.5 Z"></path>
          </g>
        </svg>
      </a>
    </li>
    <li>
      <a class="js-toggle-info micro" href="#">
        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="icon-nav-info">
            <circle stroke="#FFF3E7" fill="none" stroke-width="2" cx="10" cy="10" r="9"></circle>
            <text id="i" font-family="Helvetica" font-size="11" font-weight="bold" fill="#FFF3E7">
              <tspan x="8.5" y="14">i</tspan>
            </text>
          </g>
        </svg>
      </a>
    </li>
    <li>
      <a href="/{{dataset}}/{{nextScene.slug}}" class="micro">
        <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="icon-nav-right" fill="none" stroke="#FFF3E7" stroke-width="2">
            <path d="M17.5,1 L17.5,18.5 L3.5,9.75 L17.5,1 Z" transform="translate(10.500000, 10.000000) rotate(-180.000000) translate(-10.500000, -10.000000) "></path>
          </g>
        </svg>
      </a>
    </li>
  </ul>
</div>

{{{content}}}

{{> footer}}