    <script src="/js/vendor/jquery-1.11.0.min.js"></script>
    {{#assets.threejs}}<script src='/js/vendor/three-r67.min.js'></script>
    <script src="/fonts/helvetiker_regular.typeface.js"></script>
    <script src="/js/vendor/CSS3DRenderer.min.js"></script>{{/assets.threejs}}
    {{#assets.processing}}<script src='/js/vendor/processing-1.4.8.min.js'></script>{{/assets.processing}}
    {{#assets.randomcolor}}<script src='/js/vendor/randomcolor.min.js'></script>{{/assets.randomcolor}}
    {{#assets.tweenmax}}<script src='/js/vendor/TweenMax-1.11.8.min.js'></script>{{/assets.tweenmax}}
    {{#assets.raphael}}<script src='/js/vendor/raphael-2.1.2.min.js'></script>{{/assets.raphael}}
    {{#assets.toxiclibs}}<script src='/js/vendor/toxiclibs-0.2.7.min.js'></script>{{/assets.toxiclibs}}
    {{#assets.kineticjs}}<script src='/js/vendor/kinetic-v5.1.0.min.js'></script>{{/assets.kineticjs}}
    {{#assets.d3}}<script src='/js/vendor/d3-3.4.6.min.js'></script>{{/assets.d3}}
    <script src="/js/site.js"></script>
    {{#homepage}}<script src="/js/homepage.js"></script>{{/homepage}}
    {{#assets.js}}<script src="/js/{{dataset}}/{{slug}}.js"></script>{{/assets.js}}
    <script src="/js/analytics.js"></script>
  </body>
</html>