<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="Uncontext is an art project where any collaborator can access an unending stream of structured, but seemingly random, data.">
        <meta name="keywords" content="art, visualization, dataviz, data visualization, stream, data stream">
        <meta name="author" content="John Brown">

        <title>uncontext.</title>

        <meta property="og:site_name" content="uncontext.">
        <meta property="og:title" content="uncontext.">
        <meta property="og:url" content="http://uncontext.com">
        <meta property="og:type" content="website">
        <meta property="og:image" content="http://uncontext.com/img/600x600.png">
        <meta property="og:description" content="Uncontext is an art project where any collaborator can access an unending stream of structured, but seemingly random, data.">
        
        <meta name="twitter:url" content="http://uncontext.com">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@uncontext">
        <meta name="twitter:creator" content="@thisisjohnbrown">
        <meta name="twitter:title" content="uncontext.com">
        <meta name="twitter:description" content="Uncontext is an art project where any collaborator can access an unending stream of structured, but seemingly random, data.">
        <meta name="twitter:image" content="http://uncontext.com/img/300x300.png">

        <link rel="shortcut icon" href="/img/favicon.ico">
        <link href="/css/site.css" rel="stylesheet" type="text/css"/>
        {{#assets.css}}<link href="/css/{{dataset}}/{{slug}}.css" rel="stylesheet" type="text/css"/>{{/assets.css}}
    </head>
    <body>