{{> header}}

    <section id="wrapper">
      <header>
        <h1>Uncontext.</h1>
        <h2>Session 1&mdash;<span>{{#datasets}}{{name}}{{/datasets}}</span></h2>
      </header>

      <div class="intro">
        <p>Uncontext is as art project where any collaborator can access an unending stream of structured, but seemingly random, data. They can use it to generate art, write poems, control robots, or anything else.</p>
      </div>

      <section class="section two-up">
        <div class="data-group">
          <h3>Data for this session</h3>
           <div class="data">
             <table>
              <thead>
                <tr>
                  <td>a</td>
                  <td>b</td>
                  <td>c</td>
                  <td>d</td>
                  <td>e</td>
                </tr>
              </thead>
              <tbody>
              </tbody>
             </table>
          </div>
        </div>

        <div class="canvas-group">
          <h3>Example visualization</h3>
          <canvas id="homepage-canvas" width="400px" height="400px"></canvas>
          <div class="explanation">
            <ul>
              <li>When data.a is updated, a new line of circle is initiated, with that number of circles spaced along the x-axis.</li>
              <li>The size that the circles grows to is whatever data.b is at the time.</li>
              <li>If data.c === 0, the circles expand towards the right. If data.c === 1, then it's left.</li>
              <li>data.e.f / data.e.g determines the percentage along the y-axis the line runs along.</li>
              <li>Where's data.d? We don't need to use everything, silly.</li>
            </ul>
          </div>
        </div>
      </section>

      <section class="section">
        <h3>Get started by connecting to literature.uncontext.com with socket.io</h3>
        <div class="code">
<pre><code>&lt;script src=&quot;//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;
  socket_ = io.connect('literature.uncontext.com:80');
  socket_.on('0', function (data) {
    console.log(data);
  });
&lt;/script&gt;</code></pre>
        </div>
      </section>

      <section class="section compressed">
        <h3>Submissions for current session</h3>
        {{#datasets}}
        <ul class="link-list">
        {{#slugs}}
          <li>
            <a href="/{{name}}/{{slug}}">
              {{title}}</br>
              <div class="thumb" style="background-image: url('/img/{{name}}/{{slug}}.png')">&nbsp;</div>
            </a>
          </li>
        {{/slugs}}
        </ul>
        {{/datasets}}
      </section>

    </section><!-- /wrapper -->

    <footer>
      <ul class="link-list">
        <li><a href="http://twitter.com/uncontext">@uncontext</a></li>
        <li><a href="http://github.com/thisisjohnbrown/uncontext">Github</a></li>
        <li>By <a href="http://thisisjohnbrown.com">John Brown</a></li>
      </ul>
    </footer>

{{> footer}}
