{{> header}}

<div id="wrap">
  <section class="section section-cream" id="hero">
    <div class="col-group outer">
      
      <nav class="grid-center col3of4">
        <ul>
          <li id="logo"><a href="/">Uncontext.</a></li>
          <li><a href="/submit/">Submit</a></li>
          <li><a href="/submissions/">Submissions</a></li>
          <li><a href="/shows/duel-at-diode/">Show</a></li> 
          <li><a href="/" class="active">Information</a></li>    
        </ul>
      </nav>
      

      <header class="col col1of1">
        <p id="session">Session 2</p>
        <h1 class="as-h1">Duel</h1>
        <canvas class="divider" width="260px" height="12px" data-divider-type="headerAnimationLines"></canvas>
        <div class="inner">
          <p class="grid-center col3of4">Uncontext is an art project where any collaborator can access an unending stream of structured&mdash;but seemingly random&mdash;data. Use this data it to generate art, write poems, control robots, or anything else.</p>
        </div>
      </header>
    
    </div><!-- /grid -->
  </section><!-- /hero -->

  <section class="section section-white" id="demo">
    <div class="col-group inner">
      
      <h2 class="as-h2">Live data</h2>
      <canvas class="divider" width="100px" height="12px" data-divider-type="headerAnimationSteps"></canvas>
      <div class="col-group inner">
        <p class="grid-center col3of4">The theme of the current session is Duel, because that is the source of the session&rsquo;s data. We&rsquo;d provide more details, but it&rsquo;s a mystery! Don’t let the source dictate your exploration (unless you want it to).</p>
      </div>
      <!-- TODO Update code samples -->
      <table id="demo-table" class="col-group inner">
        <thead>
          <tr class="col-group inner">
            <td class="col col1of8">Key</td>
            <td class="col col3of8">Value stream</td>
            <td class="col col4of8">Visualization example</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>a</td>
            <td>
              <span>-</span>
              <span>-</span>
              <span>-</span>
              <span>-</span>
              <span>-</span>
            </td>
            <td>
              <div id="viz-a" class="demo-viz-cell">
                <canvas width="400" height="40" class="homepage-example" data-example="a"></canvas>
              </div>
            </td>
          </tr>
          <tr>
            <td>b</td>
            <td>
              <span>-</span>
              <span>-</span>
              <span>-</span>
              <span>-</span>
              <span>-</span>
            </td>
            <td>
              <div id="viz-b" class="demo-viz-cell">
                <canvas width="400" height="40" class="homepage-example" data-example="b"></canvas>
              </div>
            </td>
          </tr>
          <tr>
            <td>c</td>
            <td>
              <span>-</span>
              <span>-</span>
              <span>-</span>
              <span>-</span>
              <span>-</span>
            </td>
            <td>
              <div id="viz-c" class="demo-viz-cell">
                <canvas width="400" height="40" class="homepage-example" data-example="c"></canvas>
              </div>
            </td>
          </tr>
          <tr>
            <td>d</td>
            <td>
              <span>-</span>
              <span>-</span>
              <span>-</span>
              <span>-</span>
              <span>-</span>
            </td>
            <td>
              <div id="viz-d" class="demo-viz-cell">
                <canvas width="400" height="40" class="homepage-example" data-example="d"></canvas>
              </div>
            </td>
          </tr>
          <tr>
            <td>e.f</td>
            <td>
              <span>-</span>
              <span>-</span>
              <span>-</span>
              <span>-</span>
              <span>-</span>
            </td>
            <td>
              <div id="viz-ef" class="demo-viz-cell">
                <canvas width="400" height="40" class="homepage-example" data-example="ef"></canvas>
              </div>
            </td>
          </tr>
          <tr>
            <td>e.g</td>
            <td>
              <span>-</span>
              <span>-</span>
              <span>-</span>
              <span>-</span>
              <span>-</span>
            </td>
            <td>
              <div id="viz-eg" class="demo-viz-cell">
                <canvas width="400" height="40" class="homepage-example" data-example="eg"></canvas>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div><!-- /grid -->
  </section><!-- /demo -->

  <section id="code" class="section section-cream">
    <div class="col-group inner">

      <h2 class="as-h2">It&rsquo;s easy to use (relatively speaking)</h2>
      <canvas class="divider" width="100px" height="12px" data-divider-type="headerAnimationWide"></canvas>
      <div class="col-group inner">
        <p class="grid-center col3of4">Do whatever you want with Uncontext’s data stream, it doesn&rsquo;t have to be constrained to the browser. For instance, make a very bad self driving car, shoot non-toxic paint at a Denny&rsquo;s, or make an Arduino go bleep beep boop. But, if you want to get a quick and easy taste of the power, just play with this example code using your browser and a websocket.</p>
      </div>
      <div class="col-group inner">
        <pre id="code-sample" class="grid-center col3of4">
&lt;script&gt;
  socket_ = new WebSocket('ws://duel.uncontext.com:80');
  socket_.onmessage = function (data) {
    console.log(data);
    generateBanana(data);
  };
&lt;/script&gt;</pre>

      </div><!-- /grid -->
    </div>
  </section><!-- /code -->

  <section id="gallery-cta" class="section section-black">
    <img src="/img/waves.gif" class="background-image">
    <div class="button-container">
      <a href="/submissions/" class="button button-cream">View current submissions</a>
    </div>
  </section>
  
  {{> site_footer}}
</div>

{{> footer}}
