doctype html
html
    head
        title uncontext.
        link(href="css/site.css", rel="stylesheet", type="text/css")
        link(id="dynamic-favicon", rel="icon", type="image/png", href="favicon.png")
    body
        button(class="toggle") show data
        div(class="data")
          ul
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        script(src='js/three.min.js')
        script(src="fonts/helvetiker_regular.typeface.js")
        script(src="/socket.io/socket.io.js")
        script(src="js/waves.js")