{{> header}}

<div id="wrap">
  <section class="section section-cream" id="submissions-hero">
    <div class="col-group outer">
      
      <nav class="grid-center col3of4">
        <ul>
          <li id="logo"><a href="/">Uncontext.</a></li>
          <li><a href="/submit/">Submit</a></li>
          <li><a href="/submissions/" class="active">Submissions</a></li>
          <li><a href="/shows/duel-at-diode/">Show</a></li> 
          <li><a href="/">Information</a></li>    
        </ul>
      </nav>
    
    </div><!-- /grid -->
  </section><!-- /hero -->
  
  {{#datasets}}
  <div class="section {{#odd}}section-white{{/odd}}{{^odd}}section-cream{{/odd}}">
    <div class="col-group outer">
      <section class="col col1of1">
        <p class="session">Session {{num}}</p>
        <h2 class="as-h1">{{prettyName}}</h2>
        <canvas class="divider" width="260px" height="12px" data-divider-type="headerAnimationLines"></canvas>
        <ul class="col-group submission-list">
          
            {{#slugs}}
              <li class="submission-container col col1of4">
                <video class="submission-video" autoplay loop data-fallback="/img/{{name}}/{{slug}}.gif" data-mobile="/img/{{name}}/{{slug}}.jpg">
                  <source id="webmsource-{{slug}}" src="/video/{{name}}/{{slug}}.webm" type="video/webm">
                  <source id="mp4source-{{slug}}" src="/video/{{name}}/{{slug}}.mp4" type="video/mp4">
                </video>
                <div class="submission-info">
                  <div class="info-block">
                    <p class="title">{{title}}</p>
                    {{^link}}
                      <p class="author">{{author}}</p>
                    {{/link}}
                    {{#link}}
                      <p class="author"><a href="{{link}}">{{author}}</a></p>
                    {{/link}}
                  </div>
                  <a href="{{#externalLink}}{{externalLink}}{{/externalLink}} {{^externalLink}}/{{name}}/{{slug}}{{/externalLink}}" class="button button-cream">View project</a>
                </div>
              </li>
            {{/slugs}}
        </ul>
      </section>
    </div>
  </div> <!-- literature section -->
  {{/datasets}}
  {{> site_footer}}
</div><!-- /wrap -->

{{> footer}}
