{{>default}}

<iframe class="iframe__youtube" width="560" height="315" src="//www.youtube.com/embed/{{youtube}}?autoplay=1&iv_load_policy=3&rel=0&showinfo=0&autohide=0" frameborder="0" allowfullscreen></iframe>