{{> header}}

<div id="wrap">

  <section class="section section-cream" id="shows">
    <div class="col-group outer">
      
      <nav class="grid-center col3of4">
        <ul>
          <li id="logo"><a href="/">Uncontext.</a></li>
          <li><a href="/submit/">Submit</a></li>
          <li><a href="/submissions/">Submissions</a></li>
          <li><a href="/shows/duel-at-diode/" class="active">Show</a></li>
          <li><a href="/">Information</a></li>    
        </ul>
      </nav>

      <header class="grid-center col3of4">
        <p id="session">Uncontext&rsquo;s First Show</p>
        <h1 class="as-h1">Duel</h1>
        <canvas class="divider" width="260px" height="12px" data-divider-type="headerAnimationLines"></canvas>
      </header>

      <div class="col-group inner">
        <div class="show-info grid-center col3of4">
          <h4>&ldquo;Duel&rdquo; at Diode Gallery</h4>
          <p class="address">514 NW Couch St.<br>Portland, OR 97209</p>
          <h5>December 4th 2014</h5>
          <p class="subtext">6&mdash;9 PM</p>
        </div>
      </div>

      <div class="inner">
        <p class="grid-center col3of4">Across the city, artists gathered to use a live stream of data with no identifiers. This seemingly random stream was shaped into many different creations, both visual and aural, each pulsing with the heartbeat of the data. Come see those creations, all in one place, moving in unison.</p>
      </div>
    
    </div><!-- /grid -->
  </section>

  <section class="section section-white" id="artists">
    <div class="inner">
      <div class="grid-center col3of4">
        <h2 class="as-h2">Featuring</h2>
        <ul class="artist-list">
          <li>Alisa Akay</li>
          <li>Chris Arth</li>
          <li>John Brown</li>
          <li>Surya Buchwald</li>
          <li>Mike Creighton</li>
          <li>Michael Jennings</li>
          <li>Michael Daniel Johnson</li>
          <li>Ben Purdy</li>
          <li>Lucas Swick</li>
          <li>Libbey White</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section section-cream" id="video">
    <div class="inner">
      <div class="col4of4">
        <h2 class="as-h2">PDX Creative Coders Hackday Video</h2>
        <div class="video-wrapper">
          <iframe width="560" height="315" src="//www.youtube.com/embed/TTccuYWBrOw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
  {{> site_footer}}
</div>

{{> footer}}
